body{
    padding: 0 20px;
}
.card{
    margin: 20px;
}

.emptydirmsg{
    margin: 0 40%;
}
.emptydirmsg h3{
    position: absolute;
    padding: 10px;
}

.navCommands{
    vertical-align: middle;
}

.navCommands ul{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    list-style-position: inherit;
}

.navCommands li{
    margin: 0 2px;
}

.navCommands .nav-path a{
    text-decoration: none;
    color: black;
}

.navCommands .nav-path h5{
    margin: 0;
}

#mkdirBtn{
    margin-left: 10px;
    padding: 6px 14px;
}

#goForward, #goBack{
    background-color: rgb(237, 237, 237);
    border-width: 1px;
    border-color: lightgrey;
}

#goForward:hover, #goBack:hover{
    background-color: rgb(203, 203, 203);
    border-width: 1px;
    border-color: lightgrey;
}

#goForward:active, #goBack:active{
    background-color: rgb(128, 126, 126);
    border-width: 1px;
    border-color: lightgrey;
}

#editBtn, .del-btn{
    border-radius: 100%;
}

/* Estilos para a caixa de diálogo */
dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

dialog{
    border-left: 8px solid #DC3545 !important;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: .5rem;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    padding: 1em 0;
}
dialog h5{
    position: static;
}

dialog #confirmDelete{
    margin-right: 12px;
}

@media (max-width: 575px){
    dialog{
        padding: 1em;
    }
    dialog #confirmDelete{
        margin-right: 0;
    }
}
/*-----------------------------------------*/