<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">filipe-cloud</a>
        <div class="navbar-nav">
          <!-- <a class="nav-link" href="#">Features</a> --> 
          <div class="navCommands">
            <ul>
                <li> 
                  <a href="/back">
                    <button type="button" class="btn btn-light" id="navBtn backbtn">
                      <b> < </b>
                    </button>
                  </a> 
                </li>
                <li> 
                  <a href="/forward">
                    <button type="button" class="btn btn-light" id="navBtn forwardbtn">
                      <b> > </b>
                    </button> 
                  </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
  </nav>