
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid justify-content-start">
      <a class="navbar-brand" href="/">filipe-cloud</a>
        <div class="navbar-nav">
          <!-- <a class="nav-link" href="#">Features</a> --> 
          <div class="navCommands">
            <ul>
                <li class="nav-item"> 
                  <a href="/back" class="btn btn-light" id="goBack">                
                    <i class="bi bi-caret-left-fill"></i>
                  </a> 
                </li>
                <li class="nav-item"> 
                  <a href="/forward" class="btn btn-light" id="goForward">
                    <i class="bi bi-caret-right-fill"></i>
                  </a>
                </li>
                <li class="nav-item"> 
                  <a href="/createdir" class="btn btn-success" id="mkdirBtn">
                    <i class="bi bi-plus-circle"></i><b> Criar</b>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="<%= dirAtual %>">
                    <h3> <%= dirAtual %> </h3>
                  </a>
                </li>
            </ul>
          </div>
      </div>
  </div>
</nav>