<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>filipe-cloud</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

</head>
<body>
    <%- include('shared/header') -%>
    <a href="<%= anterior %>">
        <button type="button" class="btn btn-secondary"><b>&larr; Anterior</b></button>
    </a>

    <div>
        <%= conteudo %>
    </div>
</body>
</html>